<div class="row pt-5">
  <div class="col-sm-6 mx-auto">
    <div class="card rounded-5">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (submit)="loginUser(loginForm)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" autocomplete="off" id="username" placeholder="username" formControlName="username"
              class="form-control" [ngClass]="{
                'is-valid':f.username.valid,
                'is-invalid':f.username.invalid && (f.username.dirty || f.username.touched) && f.username.errors?.required
              }" required>
            <div class="invalid-feedback mt-2"
              *ngIf="f.username.invalid && (f.username.dirty || f.username.touched) && f.username.errors?.required">
              Username is required</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="password" autocomplete="off" id="password" formControlName="password"
              class="form-control" required [ngClass]="{
                'is-valid':f.password.valid,
                'is-invalid':f.password.invalid && (f.password.dirty || f.password.touched) && f.password.errors?.required
              }">
            <div class="invalid-feedback mt-2"
              *ngIf="f.password.invalid && (f.password.dirty || f.password.touched) && f.password.errors?.required">
              Password is required</div>
          </div>
          <button type="submit" [disabled]="loginForm.invalid" [class.btn-danger]="loginForm.invalid" class="btn btn-success float-right">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>