<div class="row pt-5">
  <div class="col-sm-10 mx-auto">
    <div class="card border-primary mb-3">
      <div class="card-body card-custom">
        <div class="d-flex justify-content-between mb-3">
          <h5 class="card-title">TODO List</h5>
          <a routerLink="/create" class="btn btn-primary">Add</a>
        </div>
        <div class="table-container pt-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Created By</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of todoList; let i=index">
                <th>{{i + 1}}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.status }}</td>
                <td>{{ getUserName(item.createdByUserId).username }}</td>
                <td>
                  <a *ngIf="checkPrivilege(item.createdByUserId)" routerLink="/edit/{{i}}" class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                  <button *ngIf="checkPrivilege(item.createdByUserId)" type="button" data-toggle="modal" (click)="deleteIndex = i" data-target="#deleteModal"
                    class="btn btn-outline-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModal">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete Todo Item: {{deleteIndex + 1}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" (click)="delete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>