<div class="row pt-5">
  <div class="col-sm-10 mx-auto">
    <div class="card border-primary mb-3">
      <div class="card-body">
        <h5 class="card-title pt-">TODO List</h5>
        <div class="pt-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <td>
                  name1
                </td>
                <td>nam2</td>
                <td>name3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>