<div class="row pt-5">
  <div class="col-sm-10 mx-auto">
    <div class="card border-primary mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">TODO List</h5>
          <a routerLink="/create" class="btn btn-primary">Add</a>
        </div>
        <div class="pt-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Created By</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of todoList; let i=index">
                <th>{{i + 1}}</th>
                <td>{{ item.title }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.createdByUserId }}</td>
                <td>
                  <a routerLink="/edit/{{i}}" class="btn btn-outline-primary">Edit</a>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>